.final-view{
	.good{
		text-align: center;
		margin-top: 50px;
		font-size: 2rem;
	}
	.container-wrapper{
		//display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		text-align: center;
		border: 1px solid black;
		width: auto;
		height: auto;

		.prize-description{
			margin-top: 5vh;
			margin-bottom: 5vh;

		}

		.number-of-contributions{
			margin-bottom: 3vh;
		}
	}

	div.circle {
  		height: 90px;
    	width: 150px;
    	display: inline-block;
    	margin-right: 66px;
  		border-radius: 50%;
  		border: solid 2px;
  		
	}

	.type-description {
        display: inline-block;
        margin-right: 66px;
        border: solid 3px;
        border-radius: 50%;

        figure {
        	width: 150%;
            margin: 0;

            img {
                
    			height: 100px;
    			position: relative;
    			overflow: hidden;
    			
            }
        }

                
    }

    .image-cropper {
    	width: 100px;
    	height: 100px;
    	position: relative;
    	overflow: hidden;
    	border-radius: 50%;
	}
	.profile-pic {
  		width: auto;
	}


}